html, body {
  height: 100%;
  width: 100%;
}

* {
  border: 0 none;
  box-sizing: border-box;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

body {
  background-color: Gainsboro;
  color: #222;
  font: normal 400 1em/normal -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  text-align: left;
  text-transform: none;
}

body * {
  font: inherit;
}

a {
  text-decoration: none;
}

body > * {
  display: block;
}

body > *:not(header) {
  position: inherit;
  width: 1200px;
}

header, footer {
  color: white;
  height: 100px;
  line-height: 100px;
  font-size: 200%;
  text-align: center;
}

header {
  background-color: transparent;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

header > * {
  background-color: Teal;
  height: 100%;
  margin: 0 auto;
  width: 1200px;
}

main {
  background-color: White;
  height: auto !important;
  margin: 0 auto -100px;
  min-height: 100%;
  padding-top: 100px;
}

main > * {
  bottom: 50%;
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
}

main:after {
  content: '';
  display: block;
  height: 100px;
}

.talk-to-user {
  display: block;
  position: relative;
}

.talk-to-user > * {
  font-size: 150%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.talk-to-user input {
  background-color: Gainsboro;
  border-radius: 5px;
  display: inherit;
}

.user-answer {
  top: 200%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-out;
  width: 100%;
}

h1 {
  font-size: 200%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

footer {
  background-color: Teal;
  margin: 0 auto;
}
